In [2]:
import pandas as pd
import re
import seaborn as sns

In [3]:
tw_data = pd.read_csv("data/old/doge_tweets.csv")
tw_data.info()

C:\Users\andre\AppData\Local\Temp\ipykernel_157524\3585558858.py:1: DtypeWarning: Columns (0,1,2,10,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  tw_data = pd.read_csv("data/old/doge_tweets.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3670033 entries, 0 to 3670032
Data columns (total 37 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       object
 1   id               object
 2   conversation_id  object
 3   created_at       object
 4   date             object
 5   time             object
 6   timezone         float64
 7   user_id          float64
 8   username         object
 9   name             object
 10  place            object
 11  tweet            object
 12  language         object
 13  mentions         object
 14  urls             object
 15  photos           object
 16  replies_count    float64
 17  retweets_count   float64
 18  likes_count      float64
 19  hashtags         object
 20  cashtags         object
 21  link             object
 22  retweet          object
 23  quote_url        object
 24  video            float64
 25  thumbnail        object
 26  near             float64
 27  geo              float64
 28  source           float64
 29  user_rt_id       float64
 30  user_rt          float64
 31  retweet_id       float64
 32  reply_to         object
 33  retweet_date     float64
 34  translate        float64
 35  trans_src        float64
 36  trans_dest       float64
dtypes: float64(16), object(21)
memory usage: 1.0+ GB

In [4]:
flt_data = tw_data.iloc[:,[4,5,11,12, 13, 16,17,18, 19]]
flt_data.head()

,date,time,tweet,language,mentions,replies_count,retweets_count,likes_count,hashtags
0,2021-04-28,16:59:59,The current value of 1 DOGE in USD is: $0.3236...,en,[],0.0,0.0,2.0,['dogecoin']
1,2021-04-28,16:59:46,"@OldManMitchell1 Agreed, many look at this met...",en,[],0.0,0.0,1.0,[]
2,2021-04-28,16:59:41,@RomainLanery Le doge est un enfant de cÅ“ur Ã ...,fr,[],0.0,0.0,2.0,[]
3,2021-04-28,16:59:41,Ty @elonmusk!!! Learn how to pronounce it @mcu...,en,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,0.0,2.0,['dogefather']
4,2021-04-28,16:59:39,Checking doge coin seeing if ur rich yet ðŸ‘€,en,[],1.0,1.0,8.0,[]

flt_data['date'] = pd.to_datetime(flt_data['date'], errors='coerce')
flt_data['time'] = pd.to_datetime(flt_data['time'], errors='coerce')
flt_data.info()

flt_data.isna().sum()

In [5]:
drop_col = flt_data[flt_data["date"].notna()]
drop_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3662800 entries, 0 to 3670032
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   time            object
 2   tweet           object
 3   language        object
 4   mentions        object
 5   replies_count   float64
 6   retweets_count  float64
 7   likes_count     float64
 8   hashtags        object
dtypes: float64(3), object(6)
memory usage: 279.4+ MB

In [6]:
drop_col[drop_col["language"] == "en"].to_csv("cut_data.csv")

In [7]:
tw_data_clean = pd.read_csv("cut_data.csv")
tw_data_clean.head()

,Unnamed: 0,date,time,tweet,language,mentions,replies_count,retweets_count,likes_count,hashtags
0,0,2021-04-28,16:59:59,The current value of 1 DOGE in USD is: $0.3236...,en,[],0.0,0.0,2.0,['dogecoin']
1,1,2021-04-28,16:59:46,"@OldManMitchell1 Agreed, many look at this met...",en,[],0.0,0.0,1.0,[]
2,3,2021-04-28,16:59:41,Ty @elonmusk!!! Learn how to pronounce it @mcu...,en,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,0.0,2.0,['dogefather']
3,4,2021-04-28,16:59:39,Checking doge coin seeing if ur rich yet ðŸ‘€,en,[],1.0,1.0,8.0,[]
4,6,2021-04-28,16:59:35,@elonmusk @TeslaNY @Tesla Elon pump $Doge,en,[],0.0,0.0,0.0,[]

In [8]:
tw_data_clean['replies_count'].value_counts()

0.0      2143148
1.0       513241
2.0       111306
3.0        37526
4.0        18063
          ...
440.0          1
758.0          1
636.0          1
952.0          1
427.0          1
Name: replies_count, Length: 749, dtype: int64

In [8]:
tw_data_clean['retweets_count'].value_counts()

0.0       2272973
1.0        314399
2.0        105437
3.0         50069
4.0         29096
           ...
1129.0          1
2428.0          1
1712.0          1
725.0           1
906.0           1
Name: retweets_count, Length: 1327, dtype: int64

In [9]:
tw_data_clean['likes_count'].value_counts()

0.0        1228204
1.0         622591
2.0         310996
3.0         177784
4.0         113771
            ...
11125.0          1
3861.0           1
1078.0           1
4205.0           1
12173.0          1
Name: likes_count, Length: 2822, dtype: int64

In [10]:
tw_data_clean = tw_data_clean[tw_data_clean['likes_count']>0]

In [11]:
tw_data_clean = tw_data_clean[tw_data_clean['retweets_count']>0]

In [12]:
tw_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567526 entries, 3 to 2875058
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      567526 non-null  int64
 1   date            567526 non-null  object
 2   time            567526 non-null  object
 3   tweet           567526 non-null  object
 4   language        567526 non-null  object
 5   mentions        567526 non-null  object
 6   replies_count   567526 non-null  float64
 7   retweets_count  567526 non-null  float64
 8   likes_count     567526 non-null  float64
 9   hashtags        567526 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 47.6+ MB

In [13]:
tw_data_clean = tw_data_clean.iloc[:, 1:]

In [14]:
tw_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567526 entries, 3 to 2875058
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            567526 non-null  object
 1   time            567526 non-null  object
 2   tweet           567526 non-null  object
 3   language        567526 non-null  object
 4   mentions        567526 non-null  object
 5   replies_count   567526 non-null  float64
 6   retweets_count  567526 non-null  float64
 7   likes_count     567526 non-null  float64
 8   hashtags        567526 non-null  object
dtypes: float64(3), object(6)
memory usage: 43.3+ MB

In [9]:
tw_data_clean.head()

,Unnamed: 0,date,time,tweet,language,mentions,replies_count,retweets_count,likes_count,hashtags
0,0,2021-04-28,16:59:59,The current value of 1 DOGE in USD is: $0.3236...,en,[],0.0,0.0,2.0,['dogecoin']
1,1,2021-04-28,16:59:46,"@OldManMitchell1 Agreed, many look at this met...",en,[],0.0,0.0,1.0,[]
2,3,2021-04-28,16:59:41,Ty @elonmusk!!! Learn how to pronounce it @mcu...,en,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,0.0,2.0,['dogefather']
3,4,2021-04-28,16:59:39,Checking doge coin seeing if ur rich yet ðŸ‘€,en,[],1.0,1.0,8.0,[]
4,6,2021-04-28,16:59:35,@elonmusk @TeslaNY @Tesla Elon pump $Doge,en,[],0.0,0.0,0.0,[]

In [12]:
tw_data_clean['date_final'] = tw_data_clean['date'] + " " + tw_data_clean['time']
tw_data_clean = tw_data_clean[['date','time','date_final','tweet','mentions','replies_count','retweets_count','likes_count','hashtags']]
tw_data_clean['date_final'] = pd.to_datetime(tw_data_clean['date_final'], errors='coerce')
tw_data_clean.head()
tw_data_clean.info()

,date,time,date_final,tweet,mentions,replies_count,retweets_count,likes_count,hashtags
0,2021-04-28,16:59:59,2021-04-28 16:59:59,The current value of 1 DOGE in USD is: $0.3236...,[],0.0,0.0,2.0,['dogecoin']
1,2021-04-28,16:59:46,2021-04-28 16:59:46,"@OldManMitchell1 Agreed, many look at this met...",[],0.0,0.0,1.0,[]
2,2021-04-28,16:59:41,2021-04-28 16:59:41,Ty @elonmusk!!! Learn how to pronounce it @mcu...,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,0.0,2.0,['dogefather']
3,2021-04-28,16:59:39,2021-04-28 16:59:39,Checking doge coin seeing if ur rich yet ðŸ‘€,[],1.0,1.0,8.0,[]
4,2021-04-28,16:59:35,2021-04-28 16:59:35,@elonmusk @TeslaNY @Tesla Elon pump $Doge,[],0.0,0.0,0.0,[]

In [11]:
tw_data_clean.to_csv("tw_data_short.csv", index=False)