In [1]:
import pandas as pd
import re 
import seaborn as sns
import numpy as np

In [2]:
tw_clean = pd.read_csv("tw_data_short.csv")
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567526 entries, 0 to 567525
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            567526 non-null  object
 1   time            567526 non-null  object
 2   date_final      567526 non-null  object
 3   tweet           567526 non-null  object
 4   mentions        567526 non-null  object
 5   replies_count   567526 non-null  float64
 6   retweets_count  567526 non-null  float64
 7   likes_count     567526 non-null  float64
 8   hashtags        567526 non-null  object
dtypes: float64(3), object(6)
memory usage: 39.0+ MB

In [3]:
tw_tokens = pd.read_csv("tweets_token.csv")
tw_tokens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567526 entries, 0 to 567525
Data columns (total 100 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         567526 non-null  int64
 1   dogecoin           567526 non-null  int64
 2   dogearmy           567526 non-null  int64
 3   elonmusk           567526 non-null  int64
 4   buy                567526 non-null  int64
 5   dogecointothemoon  567526 non-null  int64
 6   btc                567526 non-null  int64
 7   crypto             567526 non-null  int64
 8   dogecoinrise       567526 non-null  int64
 9   dogecoinarmy       567526 non-null  int64
 10  eth                567526 non-null  int64
 11  get                567526 non-null  int64
 12  bitcoin            567526 non-null  int64
 13  moon               567526 non-null  int64
 14  dollar             567526 non-null  int64
 15  coin               567526 non-null  int64
 16  one                567526 non-null  int64
 17  like               567526 non-null  int64
 18  xrp                567526 non-null  int64
 19  let                567526 non-null  int64
 20  go                 567526 non-null  int64
 21  hold               567526 non-null  int64
 22  k                  567526 non-null  int64
 23  people             567526 non-null  int64
 24  dogecoins          567526 non-null  int64
 25  going              567526 non-null  int64
 26  cryptocurrency     567526 non-null  int64
 27  dogecointo         567526 non-null  int64
 28  dogetothemoon      567526 non-null  int64
 29  price              567526 non-null  int64
 30  dogeday            567526 non-null  int64
 31  ada                567526 non-null  int64
 32  today              567526 non-null  int64
 33  dogecointoadollar  567526 non-null  int64
 34  time               567526 non-null  int64
 35  bnb                567526 non-null  int64
 36  link               567526 non-null  int64
 37  amp                567526 non-null  int64
 38  hodl               567526 non-null  int64
 39  make               567526 non-null  int64
 40  last               567526 non-null  int64
 41  day                567526 non-null  int64
 42  pump               567526 non-null  int64
 43  sell               567526 non-null  int64
 44  money              567526 non-null  int64
 45  see                567526 non-null  int64
 46  elon               567526 non-null  int64
 47  new                567526 non-null  int64
 48  retweet            567526 non-null  int64
 49  ltc                567526 non-null  int64
 50  amc                567526 non-null  int64
 51  good               567526 non-null  int64
 52  u                  567526 non-null  int64
 53  gme                567526 non-null  int64
 54  keep               567526 non-null  int64
 55  dogetoadollar      567526 non-null  int64
 56  binance            567526 non-null  int64
 57  next               567526 non-null  int64
 58  back               567526 non-null  int64
 59  still              567526 non-null  int64
 60  dot                567526 non-null  int64
 61  right              567526 non-null  int64
 62  buying             567526 non-null  int64
 63  worth              567526 non-null  int64
 64  love               567526 non-null  int64
 65  much               567526 non-null  int64
 66  know               567526 non-null  int64
 67  xlm                567526 non-null  int64
 68  everyone           567526 non-null  int64
 69  need               567526 non-null  int64
 70  follow             567526 non-null  int64
 71  would              567526 non-null  int64
 72  trx                567526 non-null  int64
 73  market             567526 non-null  int64
 74  current            567526 non-null  int64
 75  made               567526 non-null  int64
 76  volume             567526 non-null  int64
 77  tweet              567526 non-null  int64
 78  hoge               567526 non-null  int64
 79  free               567526 non-null  int64
 80  think              567526 non-null  int64
 81  want               567526 non-null  int64
 82  ethereum           567526 non-null  int64
 83  robinhood          567526 non-null  int64
 84  vet                567526 non-null  int64
 85  shib               567526 non-null  int64
 86  nft                567526 non-null  int64
 87  safemoon           567526 non-null  int64
 88  bought             567526 non-null  int64
 89  hit                567526 non-null  int64
 90  coinbase           567526 non-null  int64
 91  take               567526 non-null  int64
 92  cent               567526 non-null  int64
 93  tesla              567526 non-null  int64
 94  big                567526 non-null  int64
 95  got                567526 non-null  int64
 96  dogeto             567526 non-null  int64
 97  dip                567526 non-null  int64
 98  wallet             567526 non-null  int64
 99  way                567526 non-null  int64
dtypes: int64(100)
memory usage: 433.0 MB

In [10]:
all_data_token = tw_clean.join(tw_tokens, how='left', lsuffix='l', rsuffix='r', sort=False )
all_data_token["date"] = pd.to_datetime(all_data_token["date"])
all_data_token["timel"] = pd.to_datetime(all_data_token["timel"], format= '%H:%M:%S' ).dt.time
all_data_token["date_final"] = pd.to_datetime(all_data_token["date_final"])
all_data_token

,date,timel,date_final,tweetl,mentions,replies_count,retweets_count,likes_count,hashtags,Unnamed: 0,...,coinbase,take,cent,tesla,big,got,dogeto,dip,wallet,way
0,2021-04-28,16:59:39,2021-04-29 00:59:39,Checking doge coin seeing if ur rich yet üëÄ,[],1.0,1.0,8.0,[],0,...,0,0,0,0,0,0,0,0,0,0
1,2021-04-28,16:59:31,2021-04-29 00:59:31,Your so doge,[],2.0,3.0,7.0,[],1,...,0,0,0,0,0,0,0,0,0,0
2,2021-04-28,16:59:24,2021-04-29 00:59:24,#DOGE Move Right Now üêïüíπüöÄ Follow The best Chan...,[],31.0,18.0,175.0,"['doge', 'telegram']",2,...,0,0,0,0,0,0,0,0,0,0
3,2021-04-28,16:59:12,2021-04-29 00:59:12,@Seeker_Good 1000x for all dogseason coins $s...,[],0.0,1.0,1.0,[],3,...,0,0,0,0,0,0,0,0,0,0
4,2021-04-28,16:59:04,2021-04-29 00:59:04,"Oh and by the way, we've just burned over 2897...",[],74.0,179.0,342.0,"['memecoin', 'solana', 'solsummer', 'solszn', ...",4,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567521,2021-01-01,16:15:57,2021-01-02 00:15:57,#doge EVERYONE DIMP $20 to #dogecoin tonight!!...,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,4.0,10.0,"['doge', 'dogecoin']",567521,...,0,0,0,0,0,0,0,0,0,0
567522,2021-01-01,16:15:38,2021-01-02 00:15:38,1 DOGE Price: 0.00000016 BTC #doge #dogecoin 2...,[],0.0,1.0,1.0,"['doge', 'dogecoin']",567522,...,0,0,0,0,0,0,0,0,0,0
567523,2021-01-01,16:09:03,2021-01-02 00:09:03,"@Flak And to celebrate, have some Doge Caek! ...",[],1.0,1.0,12.0,[],567523,...,0,0,0,0,0,0,0,0,0,0
567524,2021-01-01,16:00:29,2021-01-02 00:00:29,@dogecoin Pump it doge.not only in mere words....,[],2.0,2.0,22.0,[],567524,...,0,0,0,0,0,0,0,0,0,0
567525,2021-01-01,16:00:01,2021-01-02 00:00:01,The current price of one DOGE is now: 0.004688...,[],0.0,1.0,2.0,[],567525,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#Adding col with 0 1 values, wich mean more or less 100 likes
all_data_token.insert(7,'Likes', '')
all_data_token['Likes'] = np.where(all_data_token['likes_count']>100, '1', '0')
all_data_token['Likes'].value_counts()

0    545461
1     22065
Name: Likes, dtype: int64

In [6]:
all_data_token.head()

,date,timel,date_final,tweetl,mentions,replies_count,retweets_count,Likes,likes_count,hashtags,...,coinbase,take,cent,tesla,big,got,dogeto,dip,wallet,way
0,2021-04-28,16:59:39,2021-04-29 00:59:39,Checking doge coin seeing if ur rich yet üëÄ,[],1.0,1.0,0,8.0,[],...,0,0,0,0,0,0,0,0,0,0
1,2021-04-28,16:59:31,2021-04-29 00:59:31,Your so doge,[],2.0,3.0,0,7.0,[],...,0,0,0,0,0,0,0,0,0,0
2,2021-04-28,16:59:24,2021-04-29 00:59:24,#DOGE Move Right Now üêïüíπüöÄ Follow The best Chan...,[],31.0,18.0,1,175.0,"['doge', 'telegram']",...,0,0,0,0,0,0,0,0,0,0
3,2021-04-28,16:59:12,2021-04-29 00:59:12,@Seeker_Good 1000x for all dogseason coins $s...,[],0.0,1.0,0,1.0,[],...,0,0,0,0,0,0,0,0,0,0
4,2021-04-28,16:59:04,2021-04-29 00:59:04,"Oh and by the way, we've just burned over 2897...",[],74.0,179.0,1,342.0,"['memecoin', 'solana', 'solsummer', 'solszn', ...",...,0,0,0,0,0,0,0,0,0,1

In [11]:
#grouping by date and hour
all_data_token.groupby([all_data_token['date_final'].dt.date, all_data_token['date_final'].dt.hour]).replies_count.sum()

date_final  date_final
2021-01-01  8                0.0
            9               36.0
            10              52.0
            11              19.0
            12              12.0
                           ...
2021-04-29  3              207.0
            4              643.0
            5              180.0
            6             1360.0
            7             1886.0
Name: replies_count, Length: 2830, dtype: float64

In [ ]:
#grouping by date and hour
all_data_token.groupby([all_data_token['date'].dt.date, all_data_token['timel'].dt.hour])[:,30:40]