In [1]:
#! pip install -U textblob
#! python -m textblob.download_corpora

In [2]:
import pandas as pd
import re 
import seaborn as sns
import numpy as np
from textblob import TextBlob
from datetime import datetime
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [3]:
tw_clean = pd.read_csv("tw_data_short.csv")
tw_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567526 entries, 0 to 567525
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            567526 non-null  object
 1   time            567526 non-null  object
 2   date_final      567526 non-null  object
 3   tweet           567526 non-null  object
 4   mentions        567526 non-null  object
 5   replies_count   567526 non-null  float64
 6   retweets_count  567526 non-null  float64
 7   likes_count     567526 non-null  float64
 8   hashtags        567526 non-null  object
dtypes: float64(3), object(6)
memory usage: 39.0+ MB

In [4]:
tw_tokens = pd.read_csv("tweets_token.csv")
tw_tokens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567526 entries, 0 to 567525
Columns: 198 entries, Unnamed: 0 to gt
dtypes: int64(198)
memory usage: 857.3 MB

In [5]:
all_data_token = tw_clean.join(tw_tokens, how='left', lsuffix='l', rsuffix='r', sort=False )
all_data_token["date"] = pd.to_datetime(all_data_token["date"])
all_data_token["timel"] = pd.to_datetime(all_data_token["timel"], format= '%H:%M:%S' ).dt.time
all_data_token["date_final"] = pd.to_datetime(all_data_token["date_final"])
all_data_token.rename(columns={"date_final": "time"}, inplace=True)
all_data_token

,date,timel,time,tweetl,mentions,replies_count,retweets_count,likes_count,hashtags,Unnamed: 0,...,giving,cap,l,usdt,year,atom,luna,ladybug,already,gt
0,2021-04-28,16:59:39,2021-04-28 16:59:39,Checking doge coin seeing if ur rich yet üëÄ,[],1.0,1.0,8.0,[],0,...,0,0,0,0,0,0,0,0,0,0
1,2021-04-28,16:59:31,2021-04-28 16:59:31,Your so doge,[],2.0,3.0,7.0,[],1,...,0,0,0,0,0,0,0,0,0,0
2,2021-04-28,16:59:24,2021-04-28 16:59:24,#DOGE Move Right Now üêïüíπüöÄ Follow The best Chan...,[],31.0,18.0,175.0,"['doge', 'telegram']",2,...,0,0,0,0,0,0,0,0,0,0
3,2021-04-28,16:59:12,2021-04-28 16:59:12,@Seeker_Good 1000x for all dogseason coins $s...,[],0.0,1.0,1.0,[],3,...,0,0,0,0,0,0,0,0,0,0
4,2021-04-28,16:59:04,2021-04-28 16:59:04,"Oh and by the way, we've just burned over 2897...",[],74.0,179.0,342.0,"['memecoin', 'solana', 'solsummer', 'solszn', ...",4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567521,2021-01-01,16:15:57,2021-01-01 16:15:57,#doge EVERYONE DIMP $20 to #dogecoin tonight!!...,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,4.0,10.0,"['doge', 'dogecoin']",567521,...,0,0,0,0,0,0,0,0,0,0
567522,2021-01-01,16:15:38,2021-01-01 16:15:38,1 DOGE Price: 0.00000016 BTC #doge #dogecoin 2...,[],0.0,1.0,1.0,"['doge', 'dogecoin']",567522,...,0,0,0,0,0,0,0,0,0,0
567523,2021-01-01,16:09:03,2021-01-01 16:09:03,"@Flak And to celebrate, have some Doge Caek! ...",[],1.0,1.0,12.0,[],567523,...,0,0,0,0,0,0,0,0,0,0
567524,2021-01-01,16:00:29,2021-01-01 16:00:29,@dogecoin Pump it doge.not only in mere words....,[],2.0,2.0,22.0,[],567524,...,0,0,0,0,0,0,0,0,0,0
567525,2021-01-01,16:00:01,2021-01-01 16:00:01,The current price of one DOGE is now: 0.004688...,[],0.0,1.0,2.0,[],567525,...,0,0,0,0,0,0,0,0,0,0

subj = []
polar = []
for i in range(0, len(all_data_token["tweetl"])):
    testimonial = TextBlob(all_data_token["tweetl"][i])
    subj.append(testimonial.sentiment.subjectivity)
    polar.append(testimonial.sentiment.polarity)
all_data_token["subj"] = subj
all_data_token["polar"] = polar

In [6]:
all_data_token

,date,timel,time,tweetl,mentions,replies_count,retweets_count,likes_count,hashtags,Unnamed: 0,...,giving,cap,l,usdt,year,atom,luna,ladybug,already,gt
0,2021-04-28,16:59:39,2021-04-28 16:59:39,Checking doge coin seeing if ur rich yet üëÄ,[],1.0,1.0,8.0,[],0,...,0,0,0,0,0,0,0,0,0,0
1,2021-04-28,16:59:31,2021-04-28 16:59:31,Your so doge,[],2.0,3.0,7.0,[],1,...,0,0,0,0,0,0,0,0,0,0
2,2021-04-28,16:59:24,2021-04-28 16:59:24,#DOGE Move Right Now üêïüíπüöÄ Follow The best Chan...,[],31.0,18.0,175.0,"['doge', 'telegram']",2,...,0,0,0,0,0,0,0,0,0,0
3,2021-04-28,16:59:12,2021-04-28 16:59:12,@Seeker_Good 1000x for all dogseason coins $s...,[],0.0,1.0,1.0,[],3,...,0,0,0,0,0,0,0,0,0,0
4,2021-04-28,16:59:04,2021-04-28 16:59:04,"Oh and by the way, we've just burned over 2897...",[],74.0,179.0,342.0,"['memecoin', 'solana', 'solsummer', 'solszn', ...",4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567521,2021-01-01,16:15:57,2021-01-01 16:15:57,#doge EVERYONE DIMP $20 to #dogecoin tonight!!...,"[{'screen_name': 'elonmusk', 'name': 'elon mus...",0.0,4.0,10.0,"['doge', 'dogecoin']",567521,...,0,0,0,0,0,0,0,0,0,0
567522,2021-01-01,16:15:38,2021-01-01 16:15:38,1 DOGE Price: 0.00000016 BTC #doge #dogecoin 2...,[],0.0,1.0,1.0,"['doge', 'dogecoin']",567522,...,0,0,0,0,0,0,0,0,0,0
567523,2021-01-01,16:09:03,2021-01-01 16:09:03,"@Flak And to celebrate, have some Doge Caek! ...",[],1.0,1.0,12.0,[],567523,...,0,0,0,0,0,0,0,0,0,0
567524,2021-01-01,16:00:29,2021-01-01 16:00:29,@dogecoin Pump it doge.not only in mere words....,[],2.0,2.0,22.0,[],567524,...,0,0,0,0,0,0,0,0,0,0
567525,2021-01-01,16:00:01,2021-01-01 16:00:01,The current price of one DOGE is now: 0.004688...,[],0.0,1.0,2.0,[],567525,...,0,0,0,0,0,0,0,0,0,0

testimonial = TextBlob(all_data_token["tweetl"][27])
testimonial.sentiment.subjectivity
testimonial.sentiment.polarity

all_data_token.subj.plot( kind = "hist")

all_data_token.polar.plot( kind = "hist")

all_data_token.drop(labels = ["hashtags", "Unnamed: 0"], axis=1, inplace=True)

#Adding col with 0 1 values, wich mean more or less 100 likes
all_data_token.insert(7,'top_tw', '')
all_data_token['top_tw'] = pd.DataFrame(np.where(all_data_token['likes_count']>100, '1', '0'))
all_data_token['top_tw'].value_counts()

all_data_token["top_tw"] = all_data_token["top_tw"].apply(pd.to_numeric)

all_data_token.head()

#splitting to popular and unpopular tweets
top_tw = all_data_token[all_data_token['top_tw'] == 1]
low_tw = all_data_token[all_data_token['top_tw'] == 0]
top_tw.head()

In [24]:
pd.to_datetime(all_data_token['time'], utc=True)

KeyError: 'time'

In [7]:
all_data_token.head()

,date,timel,time,tweetl,mentions,replies_count,retweets_count,likes_count,hashtags,Unnamed: 0,...,giving,cap,l,usdt,year,atom,luna,ladybug,already,gt
0,2021-04-28,16:59:39,2021-04-28 16:59:39,Checking doge coin seeing if ur rich yet üëÄ,[],1.0,1.0,8.0,[],0,...,0,0,0,0,0,0,0,0,0,0
1,2021-04-28,16:59:31,2021-04-28 16:59:31,Your so doge,[],2.0,3.0,7.0,[],1,...,0,0,0,0,0,0,0,0,0,0
2,2021-04-28,16:59:24,2021-04-28 16:59:24,#DOGE Move Right Now üêïüíπüöÄ Follow The best Chan...,[],31.0,18.0,175.0,"['doge', 'telegram']",2,...,0,0,0,0,0,0,0,0,0,0
3,2021-04-28,16:59:12,2021-04-28 16:59:12,@Seeker_Good 1000x for all dogseason coins $s...,[],0.0,1.0,1.0,[],3,...,0,0,0,0,0,0,0,0,0,0
4,2021-04-28,16:59:04,2021-04-28 16:59:04,"Oh and by the way, we've just burned over 2897...",[],74.0,179.0,342.0,"['memecoin', 'solana', 'solsummer', 'solszn', ...",4,...,0,0,0,0,0,0,0,0,0,0

In [22]:
#grouping by date and hour
all_data_token = all_data_token.groupby([all_data_token['time'].dt.date, all_data_token['time'].dt.hour]).agg({"tweetl": "sum"})

KeyError: 'time'

cols_to_mean = ['subj', 'polar']
dict_cols = {i : "sum" if i not in cols_to_mean else "mean" for i in all_data_token.columns[3: 405]}
dict_cols

In [9]:
data_prices = pd.read_csv("data/dataprices01.csv")

In [10]:
data_prices.head()

                        time      open      high       low     Volume  tv
0  2020-12-31 17:00:00-07:00  0.004683  0.004702  0.004616  1865676.0   1
1  2020-12-31 18:00:00-07:00  0.004705  0.004766  0.004701  1082226.0   1
2  2020-12-31 19:00:00-07:00  0.004733  0.004765  0.004733    85161.0   1
3  2020-12-31 20:00:00-07:00  0.004754  0.005001  0.004754  5030766.0   1
4  2020-12-31 21:00:00-07:00  0.005000  0.005001  0.004816  5531754.0  -1

In [18]:
data_prices['time'] = pd.to_datetime(data_prices['time'], utc=True)
data_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16875 entries, 0 to 16874
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    16875 non-null  datetime64[ns, UTC]
 1   open    16875 non-null  float64
 2   high    16875 non-null  float64
 3   low     16875 non-null  float64
 4   Volume  16875 non-null  float64
 5   tv      16875 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(1)
memory usage: 791.1 KB

date1 = datetime.strptime("2021-01-02 00:00:00", '%Y-%m-%d %H:%M:%S')
date2 = datetime.strptime("2021-04-29 01:00:00", '%Y-%m-%d %H:%M:%S')
data_prices = data_prices.loc[(utc.localize(data_prices["time"]) > date1) & (utc.localize(data_prices["time"]) < date2)]

In [12]:
data_prices.head()

                        time      open      high       low     Volume  tv
0  2020-12-31 17:00:00-07:00  0.004683  0.004702  0.004616  1865676.0   1
1  2020-12-31 18:00:00-07:00  0.004705  0.004766  0.004701  1082226.0   1
2  2020-12-31 19:00:00-07:00  0.004733  0.004765  0.004733    85161.0   1
3  2020-12-31 20:00:00-07:00  0.004754  0.005001  0.004754  5030766.0   1
4  2020-12-31 21:00:00-07:00  0.005000  0.005001  0.004816  5531754.0  -1

In [13]:
data_prices.columns

Index(['time', 'open', 'high', 'low', 'Volume', 'tv'], dtype='object')

In [14]:
data_prices = data_prices.groupby([data_prices['time'].dt.date, data_prices['time'].dt.hour]).agg({"open": "sum", "high": "sum", "low": "sum", "tv": "mean", "Volume": "sum"})

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
pd.DataFrame(data_prices)

In [ ]:
data_prices.head()

all_data_token.set_index('time', inplace=True)

In [19]:
all_data_token.head()

                                                            tweetl
time       time
2021-01-01 0     @aadamz125 @elonmusk @TheLioncom DOGE is on be...
           1     CoinEx Team wishes everyone Happy New Year!üéâ  ...
           2     To my classmate, buntama mate, friend, a guy w...
           3     @cctip_io airdrop 10 doge 100 #Share &amp; inv...
           4     @bikaner_godara @GovindDotasra @RajCMO @ashokg...

In [ ]:
#merging data with pricess
all_data_m2 = all_data_token.merge(data_prices, how = "inner", left_index = True, right_index = True)
all_data_m2.fillna(0, inplace=True)

In [ ]:
#all_data_m.to_csv("data/all_data_m.csv")

In [ ]:
all_data_m2

**Tweet Celaning**

In [ ]:
def clean_tweet(x):
    x = str(x).lower().replace("\\","").replace("_"," ")
    x = re.sub(r'\W+',' ',x) # Replace everything non-alpahnumeric by ' '
    x = re.sub(r'\s+',' ',x) # Replace one or more whitespaces by  ' '
    x = re.sub(r'\d+',' ',x) # Replace one or more digits by  ' '
    x = re.sub(r'([a-z0-9+._-]+@[a-z0-9+._-]+\.[a-z0-9+_-]+)'," ", x) # Replace e-mails by ''
    # Replace urls by ''
    x = re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', ' ' , x) 
    # Replace html tags by ''
    x = BeautifulSoup(x, 'html.parser').get_text().strip()
    x = x.replace(' br ',' ')

    return x

In [ ]:
tweet_cleaned = all_data_m2.copy()

In [ ]:
tweet_cleaned = tweet_cleaned[['tweetl','tv']]

In [ ]:
tweet_cleaned['tweetl'] = tweet_cleaned['tweetl'].apply(lambda x: clean_tweet(x))

In [ ]:
from nltk.corpus import stopwords

stop_words = list(stopwords.words('english'))

In [ ]:

from sklearn.feature_extraction.text import TfidfVectorizer

tidf = TfidfVectorizer(max_features = 20000, ngram_range = (1,2), analyzer = 'word',
                       stop_words = stop_words )

In [ ]:
X = tidf.fit_transform(tweet_cleaned["tweetl"])
y = tweet_cleaned['tv']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# We can go with lots of features because our dataset contains 20K!!!
rf = RandomForestClassifier(max_depth=100, n_estimators=50)

y_train = y_train.astype('int')
y_test  = y_test.astype('int')

rf.fit(X_train, y_train)

y_train_pred_rf = rf.predict(X_train)
y_test_pred_rf  = rf.predict(X_test)

In [ ]:
def model_performance_class(y_train, y_pred_train, y_test, y_pred_test):

    from sklearn.metrics import cohen_kappa_score, classification_report 


    print("Results obtained for the TRAIN SET")
    print("==================================")
    print("The Cohen's Kappa is: {:.2f}".format(cohen_kappa_score(y_train, y_pred_train)))
    print(classification_report(y_train, y_pred_train))
    print("==================================")
    print("Results obtained for the TEST SET")
    print("The Cohen's Kappa is: {:.2f}".format(cohen_kappa_score(y_test, y_pred_test)))
    print(classification_report(y_test, y_pred_test))

In [ ]:
model_performance_class(y_train, y_train_pred_rf, y_test, y_test_pred_rf)