In [1]:
import pandas as pd
import re
import seaborn as sns

tw_data = pd.read_csv("data/doge_tweets_1.1.21-4.30.21.csv")
tw_data.info()

flt_data = tw_data.iloc[:,[4,5,11,12, 13, 16,17,18, 19]]
flt_data.head()

flt_data['date'] = pd.to_datetime(flt_data['date'], errors='coerce')
flt_data['time'] = pd.to_datetime(flt_data['time'], errors='coerce')
flt_data.info()

flt_data.isna().sum()

drop_col = flt_data[flt_data["date"].notna()]
drop_col.info()

drop_col[drop_col["language"] == "en"].to_csv("cut_data.csv")

In [3]:
tw_data_clean = pd.read_csv("cut_data.csv")
tw_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2875059 entries, 0 to 2875058
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   date            object
 2   time            object
 3   tweet           object
 4   language        object
 5   mentions        object
 6   replies_count   float64
 7   retweets_count  float64
 8   likes_count     float64
 9   hashtags        object
dtypes: float64(3), int64(1), object(6)
memory usage: 219.3+ MB

In [4]:
tw_data_clean['replies_count'].value_counts()

0.0      2143148
1.0       513241
2.0       111306
3.0        37526
4.0        18063
          ...
440.0          1
758.0          1
636.0          1
952.0          1
427.0          1
Name: replies_count, Length: 749, dtype: int64

In [5]:
tw_data_clean['retweets_count'].value_counts()

0.0       2272973
1.0        314399
2.0        105437
3.0         50069
4.0         29096
           ...
1129.0          1
2428.0          1
1712.0          1
725.0           1
906.0           1
Name: retweets_count, Length: 1327, dtype: int64

In [6]:
tw_data_clean['likes_count'].value_counts()

0.0        1228204
1.0         622591
2.0         310996
3.0         177784
4.0         113771
            ...
11125.0          1
3861.0           1
1078.0           1
4205.0           1
12173.0          1
Name: likes_count, Length: 2822, dtype: int64

In [7]:
tw_data_clean = tw_data_clean[tw_data_clean['likes_count']>0]

In [8]:
tw_data_clean = tw_data_clean[tw_data_clean['retweets_count']>0]

In [9]:
tw_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567526 entries, 3 to 2875058
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      567526 non-null  int64
 1   date            567526 non-null  object
 2   time            567526 non-null  object
 3   tweet           567526 non-null  object
 4   language        567526 non-null  object
 5   mentions        567526 non-null  object
 6   replies_count   567526 non-null  float64
 7   retweets_count  567526 non-null  float64
 8   likes_count     567526 non-null  float64
 9   hashtags        567526 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 47.6+ MB

In [10]:
tw_data_clean = tw_data_clean.iloc[:, 1:]

In [11]:
tw_data_clean.to_csv("tw_data_short.csv", index=False)

In [12]:
tw_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 567526 entries, 3 to 2875058
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            567526 non-null  object
 1   time            567526 non-null  object
 2   tweet           567526 non-null  object
 3   language        567526 non-null  object
 4   mentions        567526 non-null  object
 5   replies_count   567526 non-null  float64
 6   retweets_count  567526 non-null  float64
 7   likes_count     567526 non-null  float64
 8   hashtags        567526 non-null  object
dtypes: float64(3), object(6)
memory usage: 43.3+ MB